<div class="container-fluid m-3">
  <h1>My task manager</h1>
  <ul class='list-unstyled'>
    <% @tasks.each do |task| %>
      <li>
        <p>
          <% if task.completed %>
            <i class="fa-sharp fa-regular fa-circle-check"></i>
          <% else %>
            <i class="fa-sharp fa-regular fa-circle"></i>
          <% end %>
          <%= link_to task.title, task_path(task), class: 'text-decoration-none link-secondary' %>
        </p>
      </li>
    <% end %>
  </ul>
  <p><%= link_to 'Add a new task', new_task_path, class: 'text-decoration-none' %></p>
</div>
